# Python
__pycache__/
*.pyc

# Environment variables (important for Supabase keys later)
.env

# Virtual environments (you will likely create one)
venv/
.env/

# VS Code local settings
.vscode/

# Mac files
.DS_Store

# Logs / local databases
*.log
*.sqlite
logs/